body, html {
    /* Para poder usar todo*/
    margin: 0;
    padding: 0;
}
  header, main {
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    display: inline-block; /* Coloca header y main en línea */
    width: 64%; /* Establece el ancho, ajusta según sea necesario */
    vertical-align: top; /* Alinea en la parte superior */
  }
header{
    position: relative;/* */
    height: 500px ;/* */
    width: 300px;/* */
}

.logo{
    position: absolute;/* Posicion teniendo en cuenta los margenes del header*/
    height: 280px;/* El tamaño de la altura de la imagen*/
    top: 10%;/* Lo baja desde en relacion arriba */
}

main{
    position: relative;/* Padre*/
    height: 500px ;/*   Altura para jugar luego */
}


.imagenOJO{
    position: absolute;/* Hijo */
    display: inline-block;
    height: 15px;/* */
    top: 46%;
    right: 35%;
}
input{
    width: 70%;
}
 .checkPswd{
    appearance: none;
    position: relative;
    border-radius: 30%;
    width: 16px;
    height: 16px;
    border:  none;
    margin-top: 10px;
    margin-right: px;
    background-color: green;
  }

  input[type="submit"]{
    position: relative;
    height: 45px;
    width: 150px;
    top:144px;
    right: 72%;
}

.consentimiento{
    position: inherit;
    left: 180px;
    top: 10px;
}

.noConsent {
    position: relative;
    appearance: none;
    /* Ancho y alto iguales para hacer un cuadrado */
    width: 20px;
    height: 20px;
    /* Borde redondeado para simular un círculo */
    border-radius: 20%;
    /* Borde sólido para mayor visibilidad */
    border: 2px solid #5b5858;
    /* Fondo blanco para el interior del círculo */
    background-color: #e5dede;
    /* Espaciado a la derecha para separarlo del texto */
    margin-right: 5px;
}
  .noConsent:checked {
    background-color: #b70f0f;
  }

  .terminos{
    position: relative;
    top: 20px;
  }

  footer {
    background: rgb(125, 124, 124);
    background: linear-gradient(
      0deg,
      rgba(125, 124, 124, 0) 95%,
      rgba(125, 124, 124, 0) 97%,
      rgba(117, 118, 119, 0.09895833333333337) 99%
    );
  }

  .cambioPagina{
    display: inline-block; /* Hace que el <samp> se comporte como un bloque en línea */
  padding: 10px; /* Añade relleno alrededor del contenido del <samp> */
  background-color: #d9d2d2; /* Color de fondo gris */
  border-radius: 10%;
  border: 1px solid #d7cdcd; /* Borde delgadito para separar el cuadrado del contenido */
  text-decoration: none;
  color: #000; 
  margin-top: 10px;
}
.derecha{
  float: right;
}
